<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/stylesheets/mui.min.css" rel="stylesheet" />
		<link href="/stylesheets/index.css" rel="stylesheet" />
		<link rel="stylesheet" href="/stylesheets/profile.css" />
	</head>

	<body>
		<!--主页面容器-->
		<div class="mui-content-padded contain">
			<div class="logobar">
				佰信国际货代平台App下载
			</div>
			<!--主页面内容容器-->
		<ul class="mui-table-view mui-table-view-chevron" style="margin-top: 2rem;;">
			<li class="mui-table-view-cell function-item">
				<img src="/images/browse.png" />
				<a href="/app/H577474B0_0727123007.apk" class="mui-navigate-right">安卓版</a>
			</li>
		</ul>
		<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell function-item">
				<img src="/images/trade.png" />
				<a href="/app/H577474B0_0727123538.ipa" class="mui-navigate-right">苹果版</a>
			</li>
		</ul>
		<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell function-item">
				下载提示：点击右上角的...,在浏览器打开下载
			</li>
		</ul>
		</div>
	</body>

</html>