<!--
	作者：lyj
	时间：2017-07-13
	描述：第三方（拖车公司）个人中心
-->
<!--
	作者：anna
	时间：2018-03-26
	描述：此页面弃用，拖车公司个人中心改为personalProfileForTrailer.html
-->
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title></title>
	    <script src="/javascripts/mui.min.js"></script>
	    <link rel="stylesheet" href="/stylesheets/mui.min.register_login.css" />
	    <link rel="stylesheet" href="/stylesheets/profile.css" />
	    <script type="text/javascript" charset="utf-8">
	      	mui.init();
	    </script>
	</head>
	<body>
		<div class="top-bar">
			<div class="profilePhoto"><img src="/images/account (1).png" /></div><br />
			<span>报关行<%= username%></span>
			<span class="leftshadow"></span>
			<span class="rightshadow"></span>
			<div class="triangle-up"></div>
		</div>
		<ul class="mui-table-view mui-table-view-chevron" style="margin-top: 2rem;;">
			<li class="mui-table-view-cell function-item">
				<img src="/images/我的订单 (1).png "/>
				<a href="stateback1" class="mui-navigate-right">状态反馈1</a>
			</li>
			<li class="mui-table-view-cell function-item">
				<img src="/images/我的订单 (1).png "/>
				<a href="stateback2" class="mui-navigate-right">状态反馈2</a>
			</li>
		</ul>
		<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell function-item">
				<img src="/images/trade.png" />
				<a href="freightQuery" class="mui-navigate-right">运价查询</a>
			</li>
		</ul>
		<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell function-item">
				<img src="/images/注册.png" />
				<a id="shenfen" class="mui-navigate-right"><%= openid==null || openid=='' ? '绑定' : '解绑' %></a>
			</li>
		</ul>
		<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell function-item">
				<img src="/images/注册.png" />
				<a href="logout" class="mui-navigate-right">退出</a>
			</li>
		</ul>
	</body>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	    mui.init();
	      
	    $(document).ready(function(){
			$('#shenfen').click(function(){
							$.ajax({
							type:"post",
							url:"/bindingwx",
							data:{},
							async:true,
							success:function(data){
								var result = eval(data);
								if(result.result==1)
								{
									if($('#shenfen').text()=='绑定')
									    $('#shenfen').text('解绑');
									else
									    $('#shenfen').text('绑定');
								}
							},
							error:function(){
								mui.alert($('#shenfen').text()+"出现错误");
							}
						});
		})
		})
	</script>
</html>
