<!--
	作者：lyj
	时间：2017-07-13
	描述：主管个人中心
-->
<!--
	作者：anna
	时间：2018-03-26
	描述：UI优化
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="/javascripts/mui.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/mui.min.register_login.css" />
		<link rel="stylesheet" href="/stylesheets/profile.css" />
	</head>

	<body>
		<div class="top-bar">
			<div class="profilePhoto">
				<img src="/images/inUser.png" />
			</div>
			<br />
			<span><%= showname%> <%= username %></span>
		</div>

		<ul class="personal-content">
			<li class="personal-item">
				<a href="remittance">
					<img src="/images/request_fund.png " /><br /> 请款审核
				</a>
			</li>
			<li class="personal-item">
				<a href="billaudit">
					<img src="/images/bill_audit.png" /><br />账单审核
				</a>
			</li>
			<li class="personal-item">
				<a href="registerAudit">
					<img src="/images/register.png" /><br />注册审核
				</a>
			</li>
		</ul>
		<ul class="personal-content" style="margin-top:-1rem; border-bottom: solid .1rem #ebebeb;">
			<li class="personal-item">
				<a href="shipmenttracking">
					<img src="/images/order_trace.png " /><br />订单跟踪
				</a>
			</li>
			<li class="personal-item">
				<a href="freightQuery">
					<img src="/images/search.png" /><br />运价查询
				</a>
			</li>
		</ul>
		<ul class="personal-content">
			<li class="personal-item">
				<a id="shenfen" style="font-size: 8px;">
					<img src="/images/bind.png" /><br />
					<%= openid==null || openid=='' ? '绑定' : '解绑' %>
				</a>
			</li>
			<li class="personal-item">
				<a href="logout">
					<img src="/images/exit.png" /><br />退出
				</a>
			</li>
		</ul>
	</body>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();

		$(document).ready(function() {
			$('#shenfen').click(function() {
				$.ajax({
					type: "post",
					url: "/bindingwx",
					data: {},
					async: true,
					success: function(data) {
						var result = eval(data);
						if(result.result == 1) {
							if($('#shenfen').text() == '绑定')
								$('#shenfen').text('解绑');
							else
								$('#shenfen').text('绑定');
						}
					},
					error: function() {
						mui.alert($('#shenfen').text() + "出现错误");
					}
				});
			})
		})
	</script>

</html>