<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="/stylesheets/mui.min.css" rel="stylesheet" />
	<link href='/stylesheets/fuzzySearch.css' rel='stylesheet' type='text/css' />
	<link href="/stylesheets/formsheet.css" rel="stylesheet" />
	<link rel="stylesheet" href="/stylesheets/freightQuery.css" />
	<link href="/stylesheets/mui.poppicker.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/mui.picker.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/externalUser.css" />
	<style type="text/css">
	

</style>
</head>

<body>
	<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
			<div class="mui-content-padded contain">
				<!--<div class="register">-->
					<form>
						<div id="card">
							<div id="card-title">客户信息</div>
							<div class="mui-input-row">
								<div id="input-title">客户名称</div>
								<input id="requester" type="text" class="mui-input-clear" placeholder="点击输入" />
								<span class="mui-icon mui-icon-clear mui-hidden"></span>
							</div>
							<div class="mui-input-row">
								<div id="input-title">客户委托号</div>
								<input id="refNo" type="text" class="mui-input-clear" placeholder="点击输入" />
								<span class="mui-icon mui-icon-clear mui-hidden"></span>
							</div>
							<div class="mui-input-row">
								<div id="input-title">销售</div>
								<input id="sales" type="text" class="mui-input-clear" placeholder="点击选择" />
							</div>
						</div>
						<div id="card">
							<div id="card-title">货物信息</div>
							<div class="mui-input-row">
								<div id="input-title">货物名称</div>
								<input id="cargoName" type="text" class="mui-input-clear" placeholder="点击输入" />
								<span class="mui-icon mui-icon-clear mui-hidden"></span>
							</div>
							<div class="mui-input-row">
								<div id="short-row">
									<div id="input-title">件数</div>
									<input id="ctns" type="text" class="mui-input-clear" placeholder="点击输入" data-input-clear="5" />
								</div>
								<div id="short-row">
									<div id="input-title">单位</div>
									<input id="pack" type="text" class="mui-input-clear" placeholder="点击输入" data-input-clear="5" />
								</div>
								
							</div>
							<div class="mui-input-row">
								<div id="short-row">
									<div id="input-title">毛重T</div>
									<input id="weight" type="text" class="mui-input-clear" placeholder="点击输入" data-input-clear="5" />
									<span class="mui-icon mui-icon-clear mui-hidden"></span>
								</div>
								<div id="short-row">
									<div id="input-title">体积m³</div>
									<input id="measure" type="text" class="mui-input-clear" placeholder="点击输入" data-input-clear="5" />
									<span class="mui-icon mui-icon-clear mui-hidden"></span>
								</div>
							</div>
							<div class="side-number-choose">
								<div class="number-item">
									<div id="number-item-title">20GP</div> 
									<div class="mui-numbox" data-numbox-min='0'>
										<button class="mui-btn-numbox-minus" type="button"></button>
										<input id="conTeu1" class="mui-input-numbox" type="number" value="0" />
										<button class="mui-btn-numbox-plus" type="button"></button>

									</div>
								</div>
								<div class="number-item">
									<div id="number-item-title">40GP</div> 
									<div class="mui-numbox" data-numbox-min='0'>
										<button class="mui-btn-numbox-minus" type="button"></button>
										<input id="conTeu2" class="mui-input-numbox" type="number" value="0" />
										<button class="mui-btn-numbox-plus" type="button"></button>								
									</div>
								</div>
								<div class="number-item">
									<div id="number-item-title">40HC</div> 
									<div class="mui-numbox" data-numbox-min='0'>
										<button class="mui-btn-numbox-minus" type="button"></button>
										<input id="conTeu3" class="mui-input-numbox" type="number" value="0" />
										<button class="mui-btn-numbox-plus" type="button"></button>
										
									</div>
								</div>
							</div>
							<div class="mui-input-row">
								<div id="input-title">CRD</div>
								<input id='cargoReadDate' type="text" name='datetimePicker' tag='cargoReadDate' data-options='{}'  placeholder="点击选择" class="mui-input-clear" />
								
							</div>
							<div class="mui-input-row">
								<div id="input-title">ETD</div>
								<input id='etd' type="text"  name='datetimePicker' tag='etd' data-options='{}' placeholder="点击选择"  class="mui-input-clear"/>
								
							</div>
						</div>
						<div id="card">
							<div id="card-title">运输信息</div>
							<div class="portfuzzy" class="mui-input-clear" >
								<div id="input-title">装运港</div>
								<select id="pol">
									<option value="">--请选择或输入--</option>
								</select>
							</div>
							<div class="portfuzzy">
								<div id="input-title"  class="mui-input-clear">目的港</div>
								<select id="pod">
									<option value="">--请选择或输入--</option>
								</select>
							</div>
							<div class="mui-input-row">
								<div id="input-title">船公司</div>
								<input id="shipOwner" type="text" placeholder="点击选择"   class="mui-input-clear"/>
							</div>
							<div class="mui-input-row">
								<div id="input-title">航线</div>
								<input id="sailline" type="text" placeholder="点击选择"  class="mui-input-clear" />
							</div>
							<div class="mui-input-row">
								<div id="input-title">船名</div>
								<input id="vessel" type="text" placeholder="点击选择"  class="mui-input-clear" />
							</div>
							<div class="mui-input-row">
								<div id="input-title">航次</div>
								<input id="voyno" type="text" class="mui-input-clear" placeholder="点击输入" />
								<span class="mui-icon mui-icon-clear mui-hidden"></span>
							</div>
						</div>
						<div id="card">
							<div id="card-title">服务信息</div>
							<div class="mui-input-row">
								<div id="input-title">报关服务</div>
								<input id='bgType' type="text" placeholder="点击选择" class="mui-input-clear"  />
							</div>
							<div class="mui-input-row">
								<div id="input-title">拖车服务</div>
								<input id='tcType' type="text" placeholder="点击选择"  class="mui-input-clear" />
							</div>
							<div class="mui-input-row">
								<div id="input-title">海外服务</div>
								<input id='hyfwType' type="text" placeholder="点击选择" class="mui-input-clear"  />
							</div>
						</div>
						
						<button id="submit" type="button" >提交</button>
					</form>
					<!--</div>-->
				</div>
			</div>
		</div>
		<script src="/javascripts/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/mui.min.js"></script>
		<script type="text/javascript" src="/javascripts/fuzzySearch.js"></script>
		<script src="/javascripts/mui.poppicker.js"></script>
		<script src="/javascripts/mui.picker.min.js"></script>
		<script src="/javascripts/placeOrder.js"></script>
		<script type="text/javascript">
			mui('.mui-scroll-wrapper').scroll({
				bounce: false,
				indicators: true, //是否显示滚动条
				deceleration: 0.0006
			});

			(function($) {
				$.init();
				var result = $('#result')[0];
				var btns = document.getElementsByName('datetimePicker'); //$('#datetimePicker');
				btns.forEach(function(btn, i) {
					btn.addEventListener('tap', function() {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('tag');
						/*
						 * 首次显示时实例化组件
						 * 示例为了简洁，将 options 放在了按钮的 dom 上
						 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
						 */
						 var picker = new $.DtPicker(options);
						 picker.show(function(rs) {
							/*
							 * rs.value 拼合后的 value
							 * rs.text 拼合后的 text
							 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
							 * rs.m 月，用法同年
							 * rs.d 日，用法同年
							 * rs.h 时，用法同年
							 * rs.i 分（minutes 的第二个字母），用法同年
							 */
							 document.getElementById(id).value = rs.text;
							 /*result.innerText = '选择结果: ' + rs.text;*/
							/* 
							 * 返回 false 可以阻止选择框的关闭
							 * return false;
							 */
							/*
							 * 释放组件资源，释放后将将不能再操作组件
							 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
							 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
							 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
							 */
							 picker.dispose();
							});
						}, false);
				});
			})(mui);
			(function($, doc) {
				$.init();
				$.ready(function() {
					/**
					 * 获取对象属性的值
					 * 主要用于过滤三级联动中，可能出现的最低级的数据不存在的情况，实际开发中需要注意这一点；
					 * @param {Object} obj 对象
					 * @param {String} param 属性名
					 */
					 var _getParam = function(obj, param) {
					 	return obj[param] || '';
					 };
					//普通示例
					var namePicker = new $.PopPicker();
					namePicker.setData([{
						value: 'lj',
						text: '罗辑'
					}, {
						value: 'ymt',
						text: '云天明'
					}, {
						value: 'shq',
						text: '史强'
					}, {
						value: 'zhbh',
						text: '章北海'
					}, {
						value: 'zhy',
						text: '庄颜'
					}, {
						value: 'gyf',
						text: '关一帆'
					}, {
						value: 'zhz',
						text: '智子'
					}, {
						value: 'gezh',
						text: '歌者'
					}]);

					var showName = '<%- showname %>';
					var requesterStr = doc.getElementById('requester');
					requesterStr.value = showName;

					var shipOwners = null;
					var showShipOwnerButton = doc.getElementById('shipOwner');
					var shipOwnerResult = doc.getElementById('shipOwner');
					showShipOwnerButton.addEventListener('tap', function(event) {
						var shipOwnerPicker = new $.PopPicker();
						if(shipOwners == null) {
							$.ajax({
								type: "get",
								url: "/getCustomers",
								data: {
									typeCode: "ShipOwner",
								},
								async: false,
								cache: true,
								success: function(data) {
									shipOwners = eval(data).result;
								}
							});
						}
						shipOwnerPicker.setData(shipOwners);
						shipOwnerPicker.show(function(items) {
							shipOwnerResult.value = items[0].value;
							//返回 false 可以阻止选择框的关闭
							//return false;
							shipOwnerPicker.dispose();
						});
					}, false);

					var sailLines = null;
					var oldShipOwner = doc.getElementById('shipOwner').value;
					var showSailLineButton = doc.getElementById('sailline');
					var sailLineResult = doc.getElementById('sailline');
					showSailLineButton.addEventListener('tap', function(event) {
						var sailLinePicker = new $.PopPicker();
						var newShipOwner = mui('#shipOwner')[0].value;
						if(sailLines == null && oldShipOwner != newShipOwner) {
							$.ajax({
								type: "get",
								url: "/getSailLines",
								data: {
									shipOwner: newShipOwner,
								},
								async: false,
								cache: true,
								success: function(data) {
									sailLines = eval(data).result;
									oldShipOwner = newShipOwner;
								}
							});
						}
						sailLinePicker.setData(sailLines);
						sailLinePicker.show(function(items) {
							sailLineResult.value = items[0].value;
							//返回 false 可以阻止选择框的关闭
							//return false;
							sailLinePicker.dispose();
						});
					}, false);

					var vessels = null;
					var showVesselButton = doc.getElementById('vessel');
					var vesselResult = doc.getElementById('vessel');
					showVesselButton.addEventListener('tap', function(event) {
						var vesselPicker = new $.PopPicker();
						if(vessels == null) {
							$.ajax({
								type: "get",
								url: "/getShips",
								async: false,
								cache: true,
								success: function(data) {
									vessels = eval(data).result;
								}
							});
						}
						vesselPicker.setData(vessels);
						vesselPicker.show(function(items) {
							vesselResult.value = items[0].value;
							//返回 false 可以阻止选择框的关闭
							//return false;
							vesselPicker.dispose();
						});
					}, false);

					var sales = null;
					var showSalesButton = doc.getElementById('sales');
					var salesResult = doc.getElementById('sales');
					showSalesButton.addEventListener('tap', function(event) {
						var salesPicker = new $.PopPicker();
						if(sales == null) {
							$.ajax({
								type: "get",
								url: "/getRoleUsers",
								data: {
									billCode: "FMS_OD",
									roleCode: "SALES",
								},
								async: false,
								cache: true,
								success: function(data) {
									sales = eval(data).result;
								}
							});
						}
						salesPicker.setData(sales);
						salesPicker.show(function(items) {
							salesResult.value = items[0].value;
							//返回 false 可以阻止选择框的关闭
							//return false;
							salesPicker.dispose();
						});
					}, false);

					var declarationType = null;
					var showDeclarationTypePickerButton = doc.getElementById('bgType');
					var declarationTypeResult = doc.getElementById('bgType');
					showDeclarationTypePickerButton.addEventListener('tap', function(event) {
						var declarationTypePicker = new $.PopPicker();
						if(declarationType == null) {
							$.ajax({
								type: "get",
								url: "/getBaseCodes",
								data: {
									codeType: "DECLARATIONTYPE",
								},
								async: false,
								cache: true,
								success: function(data) {
									declarationType = eval(data).result;
								}
							});
						}
						declarationTypePicker.setData(declarationType);
						declarationTypePicker.show(function(items) {
							declarationTypeResult.value = items[0].value;
							//返回 false 可以阻止选择框的关闭
							//return false;
							declarationTypePicker.dispose();
						});
					}, false);

					var hwfwType = null;
					var showHWFWPickerButton = doc.getElementById('hyfwType');
					var hwfwResult = doc.getElementById('hyfwType');
					showHWFWPickerButton.addEventListener('tap', function(event) {
						var hwfwTypePicker = new $.PopPicker();
						if(hwfwType == null) {
							$.ajax({
								type: "get",
								url: "/getBaseCodes",
								data: {
									codeType: "DESTSERVICETYPE",
								},
								async: false,
								cache: true,
								success: function(data) {
									hwfwType = eval(data).result;
								}
							});
						}
						hwfwTypePicker.setData(hwfwType);
						hwfwTypePicker.show(function(items) {
							hwfwResult.value = items[0].value;
							//返回 false 可以阻止选择框的关闭
							//return false;
							hwfwTypePicker.dispose();
						});
					}, false);

					var trailerType = null;
					var showTrailerPickerButton = doc.getElementById('tcType');
					var trailerResult = doc.getElementById('tcType');
					showTrailerPickerButton.addEventListener('tap', function(event) {
						var trailerTypePicker = new $.PopPicker();
						if(trailerType == null) {
							$.ajax({
								type: "get",
								url: "/getBaseCodes",
								data: {
									codeType: "TRAILERTYPE",
								},
								async: false,
								cache: true,
								success: function(data) {
									trailerType = eval(data).result;
								}
							});
						}
						trailerTypePicker.setData(trailerType);
						trailerTypePicker.show(function(items) {
							trailerResult.value = items[0].value;
							//返回 false 可以阻止选择框的关闭
							//return false;
							trailerTypePicker.dispose();
						});
					}, false);

					var packageType = null;
					var showDigitPickerButton = doc.getElementById('pack');
					var digitResult = doc.getElementById('pack');
					showDigitPickerButton.addEventListener('tap',
						function(event) {
							var digitPicker = new $.PopPicker();
							if(packageType == null) {
								$.ajax({
									type: "get",
									url: "/getPackage",
									async: false,
									cache: true,
									success: function(data) {
										packageType = eval(data).result;
									}
								});
							}
							digitPicker.setData(packageType);
							digitPicker.show(function(items) {
								digitResult.value = items[0].value;
								//返回 false 可以阻止选择框的关闭
								//return false;
								digitPicker.dispose();
							});
						}, false);
				});
})(mui, document);

var oMyForm = new FormData();
			//oMyForm.enctype="multipart/form-data";
			var selectCount = 0;
			$('#submit').click(function() {
				var requester = $('#requester').val();
				var refNo = $('#refNo').val();
				var sales = $('#sales').val();
				if(!sales || sales.trim() == "") {
					mui.alert("销售不可为空");
					return;
				}

				var cargoName = $('#cargoName').val();
				var ctns = $('#ctns').val();
				var pack = $('#pack').innerHTML;
				var weight = $('#weight').val();
				var measure = $('#measure').val();
				var cargoReadDate = $('#cargoReadDate').val();
				var etd = $('#etd').val();
				var pol = $('#pol').val();
				var pod = $('#pod').val();
				var sailline = $('#sailline').val();
				var vessel = $('#vessel').val();
				var voyno = $('#voyno').val();
				var shipOwner = $('#shipOwner').val();
				var bgType = $('#bgType').val();
				var tcType = $('#tcType').val();
				var hyfwType = $('#hyfwType').val();
				var conTeu1 = $('#conTeu1').val();
				var conTeu2 = $('#conTeu2').val();
				var conTeu3 = $('#conTeu3').val();

				oMyForm.append("REQUESTER", requester);
				oMyForm.append("REFNO", refNo)
				oMyForm.append("SALES", sales)
				oMyForm.append("CARGONAME", cargoName);
				oMyForm.append("CTNS", ctns);
				oMyForm.append("PACK", pack);
				oMyForm.append("WEIGHT", weight);
				oMyForm.append("MEASURE", measure);
				oMyForm.append("CARGOREADDATE", cargoReadDate);
				oMyForm.append("SEA_ETD", etd);
				oMyForm.append("SEA_ORIGINPORT", pol);
				oMyForm.append("SEA_DISCHARGEPORT", pod);
				oMyForm.append("SEA_SAILLINE", sailline);
				oMyForm.append("SEA_VESSEL", vessel);
				oMyForm.append("SEA_VOYNO", voyno);
				oMyForm.append("SEA_SHIPOWNER", shipOwner);
				oMyForm.append("CONTAINERTUE1", conTeu1);
				oMyForm.append("CONTAINERTUE2", conTeu2);
				oMyForm.append("CONTAINERTUE3", conTeu3);
				oMyForm.append("BGTYPE", bgType);
				oMyForm.append("TCTYPE", tcType);
				oMyForm.append("HYFWTYPE", hyfwType);
				$.ajax({
					type: "post",
					url: "/submitShippingOrder",
					data: oMyForm,
					async: false,
					cache: false,
					contentType: false,
					processData: false,
					success: function(data) {
						var result = eval(data);
						if(result.result == 0) {
							mui.toast("下单成功");
							setTimeout(mui.back(), 1500);
							//							setTimeout(mui.openWindow('/loginMain'), 1500);
						} else {
							mui.toast("下单失败");
						}
						//alert(result.result);
					},
					error: function() {
						mui.alert("系统处理错误");
					}
				});
			})
		</script>
	</body>

	</html>