<!--
	作者：lyj,lcf
	时间：2017-07-04
	描述：注册主页面
-->
<!--
	作者：anna
	时间：2018-03-20
	描述：UI优化，新增加设置密码选项，数据交互等待测试
-->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/stylesheets/mui.min.register_login.css" rel="stylesheet" />
		<link href="/stylesheets/index.css" rel="stylesheet" />
	</head>

	<body>
		<!--主页面内容容器-->
		<div class="mui-col-xs-9 login" style="padding: 0; 	margin-top: 2.8125rem;">
			<!--输入框表单-->
			<form id="inputinfo">
				<div class="mui-input-row">
					<label id='用户名'><img src="/images/user.png"></label>
					<input type="text" name="username" class="mui-input-clear" placeholder="请输入用户名" onfocusout="varifyUserName()" />
				</div>
				<div class="mui-input-row">
					<label id='密码'><img src="/images/password.png"></label>
					<input type="password" name="password" class="mui-input-password" placeholder="请输入密码" onfocusout="varifyPassword()" />
				</div>
				<br />
				<div class="mui-input-row">
					<label id='手机号'><img src="/images/phone.png"></label>
					<input type="text" name="mobileNo" class="mui-input-clear" placeholder="请输入手机号" onfocusout="registervalidate()" />
				</div>
				<div class="mui-input-row">
					<label id='验证码'><img src="/images/code.png" style="width:20px; height: 20px; margin-bottom: 5px; margin-top: 5px;"></label>
					<input type="text" name="ps" class="mui-input-code" placeholder="请输入验证码" />
					<button type="button" id="getpassbtn" class="vertify mui-btn mui-btn-primary">获取验证码</button>
				</div>
			</form>
			<!--下一步按钮-->
			<button type="button" id='nextStep' class="mui-btn mui-btn-block" style="margin-top: 2.8125rem;">下一步</button>
		</div>
	</body>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/javascripts/mui.min.js"></script>
	<script type="text/javascript">
		mui.init();
		var Identify = "";

		//验证手机号格式，并判断是否被注册过
		function registervalidate() {
			var mobileNo = $("input[name='mobileNo']").val();
			if(mobileNo != '') {
				var szReg =  /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;
				if(szReg.test(mobileNo)) {
					$.ajax({
						type: "post",
						url: "/validateMobileNo",
						data: {
							mobileNo: mobileNo,
						},
						async: false,
						success: function(data) {
							var result = eval(data);
							if(result.result == '0') {
								document.getElementById("getpassbtn").disabled = false;
							} else if(result.result == '1') {
								mui.alert("该手机号已被注册");
								document.getElementById("getpassbtn").disabled = true;
							}
						},
						error: function() {
							alert("系统服务错误");
						}
					});
				} else {
					mui.alert("手机号格式不正确");
					document.getElementById("getpassbtn").disabled = true;
				}
			} else {
				document.getElementById("getpassbtn").disabled = true;
			}
		}
		//判断用户名是否已经被用
		function varifyUserName() {
			var username = $("input[name='username']").val();
			var mobileNo = $("input[name='mobileNo']").val();
			if(username != '') {
				$.ajax({
					type: "post",
					url: "/saveusername",
					data: {
						username: username,
						telephone: mobileNo,
					},
					async: false,
					success: function(data) {
						var result = eval(data);
						if(result.result == '0')
							document.getElementById("nextStep").disabled = false;
						if(result.result == '1') {
							mui.alert("用户名已存在");
							document.getElementById("nextStep").disabled = true;
						}
					},
					error: function() {
						alert("系统服务错误");
					}
				});
			} else {
				document.getElementById("nextStep").disabled = true;
			}
		}

		function varifyPassword() {
			var password = $("input[name='password']").val();
			if(password != '') {
				$.ajax({
					type: "post",
					url: "/saveuserpassword",
					data: {
						password: password,
					},
					async: false,
					success: function(data) {
						var result = eval(data);
						if(result.result == '0') {
							document.getElementById("nextStep").disabled = false;
						}
					},
					error: function() {
						alert("系统服务错误");
					}
				});
			} else {
				document.getElementById("nextStep").disabled = true;
			}
		}

		var  issend = true; 
		function  update_a(num, t)  {      
			var  get_code = document.getElementById('getpassbtn');     
			if(num  ==  t)  {          
				get_code.innerHTML  = " 重新发送 ";          
				issend = true;      
			}      
			else  {         
				var  printnr  =  t - num;          
				get_code.innerHTML  = printnr  + " 秒后重发";      
			}  
		}
		//获取验证码
		$(document).ready(function() {
			document.getElementById("getpassbtn").disabled = true;
			document.getElementById("nextStep").disabled = true;

			$('.login button').eq(0).click(function() {
				if(issend) { 
					var mobileNo = $("input[name='mobileNo']").val();
					var t = 60;
					issend = false; 
					$.ajax({
						type: "post",
						url: "/getVarificationCode",
						data: {
							mobileNo: mobileNo,
						},
						async: true,
						success: function(data) {
							var result = eval(data).result;
							if(result == '1') {
								mui.toast('验证码发送成功', {
									duration: 'short',
									type: 'div'
								});    
							} else {                             
								mui.toast('验证码发送失败', {
									duration: 'short',
									type: 'div'
								});                         
							}                                                 
							for(i = 1; i <= t; i++)  {                              
								window.setTimeout("update_a("  +  i  +  "," + t + ")",  i  *  1000);                          
							}  
						},
						error: function() {
							mui.alert("系统服务错误");
						}
					});
				}
			})

			$('.login button').eq(1).click(function() {
				var check = true;
				mui("#inputinfo input").each(function() {
					if(!this.value || this.value.trim() == "") {
						var label = this.previousElementSibling;
						mui.alert(label.id + "不允许为空");
						check = false;
						return false;
					}
				}); //校验通过，继续执行业务逻辑 
				if(check) {
					var username = $("input[name='username']").val();
					var mobileNo = $("input[name='mobileNo']").val();
					var ps = $("input[name='ps']").val();
					$.ajax({
						type: "post",
						url: "/varifyCode",
						data: {
							mobileNo: mobileNo,
							username: username,
							Code: ps,
						},
						async: false,
						success: function(data) {
							var result = eval(data).result;
							/*alert(result);*/
							Identify = result;
							/*console.log(Identify);*/
						},
						error: function() {
							mui.alert("系统服务错误");
						}
					});
					if(Identify != 1) {
						mui.alert("验证码错误");
					} else {
						var password = $("input[name='password']").val();
						$.ajax({
							type: "post",
							url: "/saveuserpassword",
							data: {
								password: password,
							},
							async: true,
							success: function(data) {
								var result = eval(data).result;
								console.log(result);
								if(result == '1') {
									location.href = "/registerCominfo";
								} else {
									mui.alert("验证码错误");
								}
							},
							error: function() {
								alert("系统服务错误");
							}
						});

					}

				}
			})
		})
	</script>

</html>