<!--
	作者：lcf
	时间：2017-07-06
	描述：注册申请详情
-->
<!--
	作者：anna
	时间：2018-03-26
	描述：UI优化，但数据交互需重新设计
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="/javascripts/mui.min.js"></script>
		<link href="/stylesheets/mui.min.register_login.css" rel="stylesheet" />
		<link href="/stylesheets/index.css" rel="stylesheet" />
		<link href="/stylesheets/takephoto.css" rel="stylesheet" />
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</head>

	<body>
		<div class="mui-inner-wrap" style="overflow: scroll;">
			<div class="mui-col-xs-9 login" style="padding: 0.5rem; margin-top: 0rem;">
				<!--输入框表单-->
				<form id="inputinfo">
					<div class="mui-input-row" style="border-bottom: hidden;">
						<label><img src="/images/company.png"></label>
						<input type="text" class="mui-input-cominfo" placeholder="企业名称" disabled="disabled" />
					</div>
					<div class="mui-input-row" style="margin-top: -0.6rem;">
						<input type="text" name="ComChiname" class="mui-input-clear" placeholder="中文" style="left: -0.7rem; margin-bottom: 0.5rem; border: 0; font-size: 14px;" />
					</div>
					<div class="mui-input-row" style="margin-top: -0.5rem;">
						<input type="text" name="ComEngname" class="mui-input-clear" placeholder="英文" style="left: -0.7rem; margin-bottom: 0.5rem; border: 0; font-size: 14px;" />
					</div>

					<div class="mui-input-row" style="border-bottom: hidden;">
						<label><img src="/images/address.png"></label>
						<input type="text" class="mui-input-cominfo" placeholder="企业地址" disabled="disabled" />
					</div>
					<div class="mui-input-row" style="margin-top: -0.6rem;">
						<input type="text" name="ComChiadd" class="mui-input-clear" placeholder="中文" style="left: -0.7rem; margin-bottom: 0.5rem; border: 0; font-size: 14px;" />
					</div>
					<div class="mui-input-row" style="margin-top: -0.5rem;">
						<input type="text" name="ComEngadd" class="mui-input-clear" placeholder="英文" style="left: -0.7rem; margin-bottom: 0.5rem; border: 0; font-size: 14px;" />
					</div>

					<div class="mui-input-row" style="border-bottom: hidden;">
						<label><img src="/images/info.png"></label>
						<input type="text" class="mui-input-cominfo" placeholder="其他信息" disabled="disabled" />
					</div>
					<div class="mui-input-row" style="margin-top: -0.6rem;">
						<input type="text" name="TaxNumber" class="mui-input-clear" placeholder="纳税号" style="left: -0.7rem; margin-bottom: 0.5rem; border: 0; font-size: 14px;" />
					</div>
					<div class="mui-input-row" style="margin-top: -0.5rem;">
						<input type="text" name="ComEmail" class="mui-input-clear" placeholder="联系邮箱" style="left: -0.7rem; margin-bottom: 0.5rem; border: 0; font-size: 14px;" />
					</div>
					<div style="margin-top:1.7rem;height: 4rem;display:flex; justify-content:center;">
						<div class="photobtn-border">
							<div class="photobtn-bg">
								<input type="file" class="photobtn" capture="camera" accept="image/*" />
							</div>
						</div>
						<div class="choosebtn-border">
							<div class="choosebtn-bg">
								<input type="file" id="choose" class="choosebtn" onchange="showimage()" />
							</div>
						</div>
						<img class="newImg" />
					</div>
					<p>拍照或选择图片上传资质材料</p>

				</form>
				<!--提交按钮-->
				<button type="button" id='submit' class="mui-btn mui-btn-block" style="margin-top: 2.8125rem;">提交</button>
			</div>
		</div>

		<script src="/javascripts/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()

			function showimage() {
				let file = document.getElementById("choose").files[0];
				if(window.FileReader) {
					var reader = new FileReader();
					reader.readAsDataURL(file);
					//监听文件读取结束后事件    
					reader.onloadend = function(e) {
						$(".newImg").attr("src", e.target.result);
						$(".newImg").addClass("newImgstyle");
					};
				}
			}

			/*function handle() {
				let file = document.getElementById("choose").files[0];
				let formData = new FormData();
				formData.append("avatar", file);
				$.ajax({
					type: 'POST',
					url: '/profile',
					data: formData,
					async: false,
					cache: false,
					contentType: false,
					processData: false,
					success: function(data) {
						var result = eval(data);
						if(result.result == 0) {
							mui.openWindow('/registerWait');
						} else {
							mui.alert("系统服务错误");
						}
					},
					error: function() {
						mui.alert("系统服务错误");
					}
				})
			}*/

			$(document).ready(function() {
				$('button').eq(0).click(function() {
					var check = true;
					var ComChiname = $("input[name='ComChiname']").val();
					var ComEngname = $("input[name='ComEngname']").val();
					var TaxNumber = $("input[name='TaxNumber']").val();
					var ComChiadd = $("input[name='ComChiadd']").val();
					var ComEngadd = $("input[name='ComEngadd']").val();
					var ComEmail = $("input[name='ComEmail']").val();
					if(ComChiname.trim() == "" && ComEngname.trim() == "") {
						mui.alert("企业名称不允许为空");
						check = false;
						return false;
					} else if(ComChiadd.trim() == "" && ComEngadd.trim() == "") {
						mui.alert("企业地址不允许为空");
						check = false;
						return false;
					} else if(TaxNumber.trim() == "") {
						mui.alert("纳税号不允许为空");
						check = false;
						return false;
					} else if(ComEmail.trim() == "") {
						mui.alert("联系邮箱不允许为空");
						check = false;
						return false;
					}
					if(check) {
						$.ajax({
							type: "post",
							url: "/saveuserCom",
							data: {
								COMNAMECN: ComChiname,
								COMNAME: ComEngname,
								TAXNUMBER: TaxNumber,
								COMADDRESS: ComChiadd,
								COMADDRESSEN: ComEngadd,
								COMEMAIL: ComEmail,
							},
							async: false,
							success: function(data) {
								console.log("进来了");
								var result = eval(data);
								if(result.result == '1') {
									let file = document.getElementById("choose").files[0];
									let formData = new FormData();
									formData.append("avatar", file);
									$.ajax({
										type: 'POST',
										url: '/profile',
										data: formData,
										async: false,
										cache: false,
										contentType: false,
										processData: false,
										success: function(data) {
											var result = eval(data);
											if(result.result == '0') {
												mui.openWindow('/registerWait');
											} else {
												mui.alert("系统服务错误");
											}
										},
										error: function() {
											mui.alert("系统服务错误");
										}
									})
								}
							},
							error: function() {
								alert("系统服务错误");
							}
						});
					}
				})
			})
		</script>
	</body>

</html>