<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>请款审核</title>
		<script src="/javascripts/mui.min.js"></script>
		<link href="/stylesheets/audit_all.css" rel="stylesheet" />
		<link rel="stylesheet" href="/stylesheets/audit_base.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/mui.picker.min.css" />
		<script type="text/javascript" charset="utf-8">
			mui.init();

			//radio的点击事件，控制条件显示的部分
			function radioclick() {
				if(document.getElementById('uncheckedfunds').checked) {
					document.getElementById('datelist').style.display = 'none';
				} else {
					document.getElementById('datelist').style.display = 'block';
				}
				if(document.getElementById('slefdefineddate').checked) {
					document.getElementById('daterange').style.display = 'block';
				} else {
					document.getElementById('daterange').style.display = 'none';
				}
			}

			//获取当前日期
			function nowdate() {
				var date = new Date();
				var seperator1 = "-";
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				var strHour = date.getHours();
				var strMinute = date.getMinutes();
				if(month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if(strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentdate = year + seperator1 + month + seperator1 + strDate +" "+strHour +":" +strMinute;
				document.getElementById("begin").innerHTML = currentdate;
				document.getElementById("end").innerHTML = currentdate;
			}
		</script>
	</head>

	<body onload="nowdate()" class="audit-bg">
		<!-- 侧滑导航根容器 -->
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-slide-in">
			<!-- 菜单容器 -->
			<aside id="offCanvasSide" class="mui-off-canvas-left sidebg">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
					<div class="mui-scroll wrapper">
						<div class="sidetitle">请款记录筛选</div>
						<hr />
						<div class="mui-input-row mui-radio mui-left">
							<label>未审核</label>
							<input onclick="radioclick()" id="uncheckedfunds" name="radio" type="radio" value="now" checked="checked">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>已审核</label>
							<input onclick="radioclick()" id="alreadycheckedfunds" name="radio" type="radio" value="history">
						</div>
						<div id="datelist" style="display: none;" class="second-radio">
							<div style="display: flex;flex-direction: row;">
								<div class="mui-input-row mui-radio mui-left">
									<label>过去一周</label>
									<input onclick="radioclick()" name="radio" type="radio" value="lastweek">
								</div>
								<div class="mui-input-row mui-radio mui-left" style="margin-left:13px;">
									<label>过去一个月</label>
									<input onclick="radioclick()" name="radio" type="radio" value="lastmonth">
								</div>
							</div>
							<div style="display: flex;flex-direction: row;">
								<div class="mui-input-row mui-radio mui-left">
									<label>过去三个月</label>
									<input onclick="radioclick()" name="radio" type="radio" value="lastthreeweek">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>过去半年</label>
									<input onclick="radioclick()" name="radio" type="radio" value="lasthalfyear">
								</div>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>自定义日期区间</label>
								<input onclick="radioclick()" id="slefdefineddate" name="radio" type="radio" value="choose">
								<div id="daterange" style="display: none;" class="datepicker">
									<div id="beginbtn"  data-options='{"type":"date"}' class="btn daterangebtn" style="width: 10rem;color:#a8a8a8;">从：<span id="begin" name='datetimePicker' tag="begin"></span></div>
									<div id="endbtn"  data-options='{"type":"date"}' class="btn daterangebtn" style="width: 10rem;color:#a8a8a8;">到：<span id="end" name='datetimePicker' tag="end"><span></div>
					    </div>
				    </div>
				</div>
				<center><button type="button" id="submit" class="mui-btn mui-btn-outlined bigbutton">确定</button></center>
	      	</div>
	      	<!--这个是背景<div class="sidebarbg"></div>-->
  		</div>
    </aside>
    
    <!--数据加载中提示-->
    <div id="over" class="overLoading"></div>
	<div id="layout" class="layoutLoading"><center><img src="/images/loading.gif" /></center></div>
		
	<!-- 主页面容器 -->
  	<div class="mui-inner-wrap">
    <!-- 主页面内容容器 -->
    	<div id="offCanvasShow" class="iconbg mui-action-menu mui-pull-left">
	    		<div class="sidebaricon"></div>
	    </div>
	    <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
	      	<div class="mui-scroll">
	      		<div class="maincontent">
	        <!-- 主界面具体展示内容 -->
			</div>
	      </div>
	    </div>  
	    <div class="mui-off-canvas-backdrop"></div>
	</div>
  </div>
</div>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/juicer-min.js"></script>
<script src="/javascripts/remittance.js"></script>
<script src="/javascripts/mui.picker.min.js"></script>
<script type="text/javascript" charset="utf-8">
    //点击自定义按钮，打开侧滑菜单；
    /*document.querySelector('.iconbg').addEventListener('tap', openMenu);
    //menu页面点击后关闭菜单；*/
    //mui.init();
    var currentlist = 0;//当前显示数
	//var count = 0;
	var downflag = 0;
	var upflag = 0;
	var Totalcount = 0;
	var DATA;
	
    mui.init({
		pullRefresh: {
			container: '#pullrefresh',
			down: {
				callback: pulldownRefresh
			},
			up: {
				contentrefresh: '正在加载...',
				callback: pullupRefresh
			}
		}
	});
	
	/**
	 * 下拉刷新具体业务实现
	 */
	function pulldownRefresh() {
		setTimeout(function() {
			var flag = 0;
			var aDiv = document.body.querySelector('.maincontent');
			aDiv.innerHTML="";
			for(var o in DATA)
			{
				var result = eval(DATA[o]);
				if(upflag==0)
				{
					result.shift();
					downflag=1;
					upflag=1;
				}
				$.each(result,function(key,value){
					//alert(flag1+" "+currentlist+" "+flag);
					if(flag<3)
					{
						var oDiv = document.createElement('div');
						oDiv.className = 'mui-card content-item';
						Inner(value.BILLNO,value.BILLID,value.CURRENCY,value.TOTALAMOUNT,value.CUSTOMER,value.BILLDATE,value.LASTDATE,value.PAYTYPE,value.BANKNAME,value.ACCOUNTNO,oDiv);
						aDiv.appendChild(oDiv);
						flag++;
					}
				}) 
			}
			currentlist = 3;
			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
			mui('#pullrefresh').pullRefresh().enablePullupToRefresh(); 
		}, 1500);
	}
	
	/**
	 * 上拉加载具体业务实现
	 */
	function pullupRefresh() {
		setTimeout(function() {
			mui('#pullrefresh').pullRefresh().endPullupToRefresh((currentlist >= Totalcount)); //参数为true代表没有更多数据了。
			var aDiv = document.body.querySelector('.maincontent');
			var flag1=0;
			var flag = 0;
			//alert(flag1+" "+currentlist+" "+flag);
			for(var o in DATA)
			{
				var result = eval(DATA[o]);
				if(downflag==0)
				{
					result.shift();
					downflag=1;
					upflag=1;
				}
				$.each(result,function(key,value){
					//alert(flag1+" "+currentlist+" "+flag);
					if(flag1>=currentlist && flag<3 && currentlist<Totalcount)
					{
						var oDiv = document.createElement('div');
						oDiv.className = 'mui-card content-item';
						Inner(value.BILLNO,value.BILLID,value.CURRENCY,value.TOTALAMOUNT,value.CUSTOMER,value.BILLDATE,value.LASTDATE,value.PAYTYPE,value.BANKNAME,value.ACCOUNTNO,oDiv);
						aDiv.appendChild(oDiv);
						currentlist++;
						flag++;
						flag1++;
					}
					else if(flag1<currentlist) 
					{
						flag1++;
						return true;
					}
				}) 
			}
		}, 1500);
	}
//	if (mui.os.plus) {
//		mui.plusReady(function() {
//			setTimeout(function() {
//				mui('#pullrefresh').pullRefresh().pullupLoading();
//			}, 1500);
//	
//		});
//	} else {
//		mui.ready(function() {
//			//mui('#pullrefresh').pullRefresh().pullupLoading();
//			setTimeout(function() {
//				mui('#pullrefresh').pullRefresh().pullupLoading();
//			}, 1500);
//		});
//	}
    //页面滑动
    //mui('.mui-scroll-wrapper').scroll();
//  (function($){
//		$(".mui-scroll-wrapper").scroll({
//		bounce: false,//滚动条是否有弹力默认是true
//		indicators: false, //是否显示滚动条,默认是true
//		});
//	
//	})(mui);
	 //侧滑容器父节点
	var offCanvasWrapper = mui('#offCanvasWrapper');
	 //主界面容器
	var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap');
	 //菜单容器
	var offCanvasSide = document.getElementById("offCanvasSide");
	/*if (!mui.os.android) {
		document.getElementById("move-togger").classList.remove('mui-hidden');
		var spans = document.querySelectorAll('.android-only');
		for (var i = 0, len = spans.length; i < len; i++) {
			spans[i].style.display = "none";
		}
	}*/
	 //移动效果是否为整体移动
	var moveTogether = false;
	 //侧滑容器的class列表，增加.mui-slide-in即可实现菜单移动、主界面不动的效果；
	var classList = offCanvasWrapper[0].classList;
	//主界面‘显示侧滑菜单’按钮的点击事件
	document.getElementById('offCanvasShow').addEventListener('tap', function() {
		offCanvasWrapper.offCanvas('show');
	});
//	 //菜单界面，‘关闭侧滑菜单’按钮的点击事件
//	document.getElementById('offCanvasHide').addEventListener('tap', function() {
//		offCanvasWrapper.offCanvas('close');
//	});
			
	(function($) {
				$.init();
				mui('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration: 0.0006
				});
				var btns = document.getElementsByName('datetimePicker'); //$('#datetimePicker');
				btns.forEach(function(btn, i) {
					btn.addEventListener('tap', function() {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('tag');
						var picker = new $.DtPicker(options);
						picker.show(function(rs) {
							document.getElementById(id).innerText = rs.text;
							picker.dispose();
						});
					}, false);
				});
			})(mui);	
	
</script>
</body>
</html>