<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>账单确认</title>
    <script src="/javascripts/mui.min.js"></script>
    <link href="/stylesheets/audit_all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/audit_base.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/mui.picker.min.css" />
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
    <style type="text/css" >
    	.maincontent{padding-top: 0rem;}
    </style>
</head>
<body>
	<!-- 侧滑导航根容器 -->
<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-slide-in">
    <!-- 主页面容器 -->
    <div class="mui-card">
    	<div class="mui-card-header"><%= tooltips%></div>
    	<div class="mui-card-content" style="display:<%= display%>">
    		<img src="/images/barcode.jpg" style="width:64px;height:64px;"/>
    	</div>
    </div>
  	<div class="mui-inner-wrap">
    <!-- 主页面内容容器 -->
	    <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
	    	
	      <div class="mui-scroll">
	      	<div class="maincontent">
	        <!-- 主界面具体展示内容 -->
			</div>

	      </div>
	    </div>  
	    <div class="mui-off-canvas-backdrop"></div>
	</div>
  </div>
</div>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/juicer-min.js"></script>
<script src="/javascripts/shareBillconfirm.js"></script>
<script type="text/javascript" charset="utf-8">
    var ids='<%= ids%>'
    var currentlist = 0;
	var count = 0;
	var downflag = 0;
	var upflag = 0;
	var Totalcount = 0;
	var DATA;
	
    mui.init({
		pullRefresh: {
			container: '#pullrefresh',
			down: {
				callback: pulldownRefresh
			},
			up: {
				contentrefresh: '正在加载...',
				callback: pullupRefresh
			}
		}
	});
	/**
	 * 下拉刷新具体业务实现
	 */
	function pulldownRefresh() {
		setTimeout(function() {
			var flag = 0;
			var aDiv = document.body.querySelector('.maincontent');
			aDiv.innerHTML="";
			array=[];
			for(var o in DATA)
			{
				var result = eval(DATA[o]);
				if(upflag==0)
				{
					result.shift();
					downflag=1;
					upflag=1;
				}
				$.each(result,function(key,value){
					//alert(flag1+" "+currentlist+" "+flag);
					if(flag<3)
					{
						var oDiv = document.createElement('div');
						oDiv.className = 'mui-card content-item';
						Inner(value.BILLNO,value.BILLID,value.CURRENCY,value.TOTALAMOUNT,value.BILLDATE,value.LASTDATE,value.PAYTYPE,value.BRANCHCODE,value.BANKADDRESS,oDiv);
						aDiv.appendChild(oDiv);
						flag++;
					}
				}) 
			}
			count = 0;
			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
			mui('#pullrefresh').pullRefresh().enablePullupToRefresh(); 
		}, 1500);
	}
	var count = 0;
	
	/**
	 * 上拉加载具体业务实现
	 */
	function pullupRefresh() {
		setTimeout(function() {
			mui('#pullrefresh').pullRefresh().endPullupToRefresh((currentlist >= Totalcount)); //参数为true代表没有更多数据了。
			var aDiv = document.body.querySelector('.maincontent');
			var flag1=0;
			var flag = 0;
			//alert(flag1+" "+currentlist+" "+flag);
			for(var o in DATA)
			{
				var result = eval(DATA[o]);
				if(downflag==0)
				{
					result.shift();
					downflag=1;
					upflag=1;
				}
				$.each(result,function(key,value){
					//alert(flag1+" "+currentlist+" "+flag);
					if(flag1>=currentlist && flag<3 && currentlist<Totalcount)
					{
						var oDiv = document.createElement('div');
						oDiv.className = 'mui-card content-item';
						Inner(value.BILLNO,value.BILLID,value.CURRENCY,value.TOTALAMOUNT,value.BILLDATE,value.LASTDATE,value.PAYTYPE,value.BRANCHCODE,value.BANKADDRESS,oDiv);
						aDiv.appendChild(oDiv);
						flag++;
						currentlist++;
						flag1++;
					}
					else if(flag1<currentlist) 
					{
						flag1++;
						return true;
					}
				}) 
			}
		}, 1500);
	}

</script>
</body>
</html>