<!--
	作者：lcf
	时间：2017-07-05
	描述：状态反馈-拖车-装完
-->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>状态反馈</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/stylesheets/mui.min.css" rel="stylesheet" />
		<link href="/stylesheets/formsheet.css" rel="stylesheet" />
		<link href="/stylesheets/feedback.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/mui.picker.min.css" />
		<!--status.css和feedback.css 是二次修改界面添加的-->
		<link href="/stylesheets/feedback.css" rel="stylesheet" />
		<link href="/stylesheets/status.css" rel="stylesheet" />
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</head>

	<body class="mainBack">
		<div class="topBack">
			<div class="statusText">状态：装完</div>
		</div>
		<form enctype='multipart/form-data' method='post' action='javascript:;'>
			<div class="centerBack">
				<!--导航栏-->
				<div class="guideBar">
					<div id="left" class="GuideTextHover">
						<a id="inputInformation" class="GuideWordHover">填写信息</a>
					</div>
					<div id="right" class="GuideText">
						<a id="upload" class="GuideWord">拍照上传</a>
					</div>
				</div>
				<!--填写信息-->
				<div id="information" style="width:90%;position: absolute;padding: 0 0 0 1rem;">
					<div class="row">
						<label class="rowTextPack">时间</label>
						<input id="result" type="text"  readonly="readonly" data-options='{}' class="btnPack" placeholder="请选择完成时间" />
					</div>
					<div class="row">
						<label class="rowTextPack">件数</label>
						<input placeholder="请输入件数" class="packages" />
						<input id='digitpicker' data-options='{}' class="unit" placeholder="请选择单位" />
					</div>
					<div class="row">
						<label class="rowTextPack">毛重</label>
						<input id='weightresult' data-options='{}' class="btnPack" placeholder="请输入毛重（T）" />
					</div>
					<div class="row">
						<label class="rowTextPack">体积</label>
						<input id='volumeresult' data-options='{}' class="btnPack" placeholder="请输入体积（m³）" />
					</div>
					<div class="row">
						<label class="rowTextPack">描述</label>
						<textarea id="description" placeholder="请编辑相关描述" class="descriptionPack"></textarea>
					</div>
				</div>

				<!--拍照上传-->
				<div id="images" class="imageBox">
					<div class="feedback" style="text-align:center; ">
						<!--						<label class="albumLabel" >点击图标：</label>-->
						<!--<img id="btn" class="image-item" src="/images/camera.png"><img>-->
						<div class="AddBtnBackBorder" id="chooseBtn">
							<div class="AddBtnBack">
								<input type="file" id="choose" class="addBtn" onchange="showimage()" multiple='multiple' />
							</div>
						</div>
						<div class="album"></div>
					</div>
				</div>

			</div>
			<!--提交按钮-->

				<button id="submit" class="submitInfo">提交</button>

		</form>
		<!--<div class="mui-content-padded contain">
			<div class="register">
				<form>
					<div class="mui-input-row status-row" style="border: none;">
						<label><img src="images/lights.png" width="25px;"></label>
						<span>装完</span>
					</div>
					<div class="mui-input-row">
						<label><img src="images/clock.png" width="25px;"></label>
						<input id='result' type="text" class="mui-input-clear shortline" placeholder="请选择实际装完时间" data-input-clear="5" />
						<button id='datetimePicker' type="button" data-options='{}' class="vertify btn mui-btn mui-btn-primary ">选择</button>
					</div>
					<div class="mui-input-row">
						<label><img src="images/box.png" width="25px;"></label>
						<input id="numresult" type="text" class="mui-input-clear" placeholder="请输入件数" data-input-clear="5" />
						<button id='digitpicker' type="button" data-options='{}' class="vertify btn mui-btn mui-btn-primary "><span id="digitResult">选择单位</span></button>
					
					</div>
					<div class="mui-input-row">
						<label><img src="images/box.png" width="25px;"></label>
						<input id="weightresult" type="text" class="mui-input-clear" placeholder="请输入毛重（单位：T）" data-input-clear="5" />
						<span class="mui-icon mui-icon-clear mui-hidden"></span>
					</div>
					<div class="mui-input-row">
						<label><img src="images/box.png" width="25px;"></label>
						<input id="volumeresult" type="text" class="mui-input-clear" placeholder="请输入体积（单位：m³）" data-input-clear="5" />
						<span class="mui-icon mui-icon-clear mui-hidden"></span>
					</div>
					<div class="mui-input-row">
						<label><img src="images/edit.png" width="25px;"></label>
						<input id="description" type="text" class="mui-input-clear" placeholder="请编辑相关描述" data-input-clear="5" />
						<span class="mui-icon mui-icon-clear mui-hidden"></span>
					</div>
					<div class="mui-input-row" style="border: none;">
						<label><img src="/images/拍照.png" width="25px;"></label>
						<input readonly="readonly" type="text" class="mui-input-clear shortline" placeholder="请拍照或者相册选择图片上传" />
					</div>
					<div class="feedback" style="text-align:left">  
			            <div id="btn" class="image-item"></div>
		                <div class="album" style="display:none"></div>
			       </div>  
					<button id="submit" type="button" class="mui-btn mui-btn-block submit" style="margin-top: 20%;">提交</button>	
				</form>
			</div>
		</div>-->
		<script src="/javascripts/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/mui.min.js"></script>
		<script src="/javascripts/mui.picker.min.js"></script>
		<!--<script src="/javascripts/feedbackone.js"></script>
		<script src="/javascripts/feedbackmore.js"></script>-->
		<script src="/javascripts/cslCamera.js"></script>
		<!--二次开发新增的-->
		<script src="/javascripts/zooming.js"></script>
		<script type="text/javascript">
			(function($) {
				$.init();
				var result = $('#result')[0];
				var btns = $('#result');
				btns.each(function(i, btn) {
					btn.addEventListener('tap', function() {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');
						/*
						 * 首次显示时实例化组件
						 * 示例为了简洁，将 options 放在了按钮的 dom 上
						 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
						 */
						var picker = new $.DtPicker(options);
						picker.show(function(rs) {
							/*
							 * rs.value 拼合后的 value
							 * rs.text 拼合后的 text
							 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
							 * rs.m 月，用法同年
							 * rs.d 日，用法同年
							 * rs.h 时，用法同年
							 * rs.i 分（minutes 的第二个字母），用法同年
							 */
							document.getElementById("result").value = rs.text;
							/*result.innerText = '选择结果: ' + rs.text;*/
							/* 
							 * 返回 false 可以阻止选择框的关闭
							 * return false;
							 */
							/*
							 * 释放组件资源，释放后将将不能再操作组件
							 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
							 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
							 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
							 */
							picker.dispose();
						});
					}, false);
				});
			})(mui);

			(function($, doc) {
				$.init();
				$.ready(function() {
					/**
					 * 获取对象属性的值
					 * 主要用于过滤三级联动中，可能出现的最低级的数据不存在的情况，实际开发中需要注意这一点；
					 * @param {Object} obj 对象
					 * @param {String} param 属性名
					 */
					var _getParam = function(obj, param) {
						return obj[param] || '';
					};
					//普通示例
					var digitPicker = new $.PopPicker();
					digitPicker.setData([{
						value: '1',
						text: '单位1'
					}, {
						value: '2',
						text: '单位2'
					}]);

					var showDigitPickerButton = doc.getElementById('digitpicker');
					var digitResult = doc.getElementById('digitpicker');
					showDigitPickerButton.addEventListener('tap', function(event) {
						digitPicker.show(function(items) {
							digitResult.innerHTML = JSON.stringify(items[0].text);
							//返回 false 可以阻止选择框的关闭
							//return false;
						});
					}, false);
				});
			})(mui, document);

			var id = '';
			var billcode = '';
			var billNo = '';
			$(document).ready(function() {
				document.getElementById("images").style.zIndex = "-9999"
				$("#inputInformation").click(function() {
					document.getElementById("images").style.zIndex = "-9999"
					document.getElementById("information").style.zIndex = ""
					document.getElementById("left").setAttribute('class', 'GuideTextHover')
					document.getElementById("right").setAttribute('class', 'GuideText')
					document.getElementById("inputInformation").setAttribute('class', 'GuideWordHover')
					document.getElementById("upload").setAttribute('class', 'GuideWord')
				});
				$("#upload").click(function() {
					document.getElementById("images").style.zIndex = ""
					document.getElementById("information").style.zIndex = "-9999"
					document.getElementById("left").setAttribute('class', 'GuideText')
					document.getElementById("right").setAttribute('class', 'GuideTextHover')
					document.getElementById("inputInformation").setAttribute('class', 'GuideWord')
					document.getElementById("upload").setAttribute('class', 'GuideWordHover')
				});
				var urlperson = decodeURI(location.search);
				var theRequest = new Object();
				if(urlperson.indexOf("?") != -1) {
					var str = urlperson.substr(1);
					strs = str.split("&");
					for(var i = 0; i < strs.length; i++) {
						theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
					}
					id = theRequest['orderid'];
					billcode = theRequest['billcode'];
					billNo = theRequest['billNo'];
					//$('.leftnav li:nth-child('+nowpageid+')').siblings().removeClass("act");
					//$('.leftnav li:nth-child('+nowpageid+')').addClass("act");
				}
			})
			var oMyForm = new FormData();
			//oMyForm.enctype="multipart/form-data";
			var selectCount = 0;
			$('#submit').click(function() {
				var result = $('#result').val();
				var numresult = $('#digitpicker').val();
				var weightresult = $('#weightresult').val();
				var volumeresult = $('#volumeresult').val();
				var description = $('#description').val();
				oMyForm.append("BILLID", id);
				oMyForm.append("BILLCODE", billcode);
				oMyForm.append("BILLNO", billNo);
				oMyForm.append("FINISHEDDATE", result);
				oMyForm.append("REMARK", description);
				oMyForm.append("state", "FMS_TCMX08");
				oMyForm.append("CTNS", numresult);
				oMyForm.append("WEIGHT", weightresult);
				oMyForm.append("MEASURE", volumeresult);
				$.ajax({
					type: "post",
					url: "/statusTrailer",
					data: oMyForm,
					async: false,
					cache: false,
					contentType: false,
					processData: false,
					success: function(data) {
						var result = eval(data);
						if(result.result == 0) {
							mui.toast("状态反馈成功");
							setTimeout(mui.openWindow('/stateback2'), 1500);
						} else {
							mui.toast("状态反馈失败");
						}
						//alert(result.result);
					},
					error: function() {
						mui.alert("系统处理错误");
					}
				});
			})
		</script>
		<script type="text/javascript">
			var number = 0;
			var idx = 0;

			function showimage() {
				let files = document.getElementById("choose").files;
				for(var i = 0; i < files.length; i++) {
					if(window.FileReader) {
						var reader = new FileReader();
						file = files[i];
						reader.readAsDataURL(file);
						//监听文件读取结束后事件    
						reader.onloadend = function(e) {
							//							$(".newImg").attr("src", e.target.result);
							//							$(".newImg").addClass("newImgstyle");
							if(number >= 3) {
								mui.alert("最多上传三张！");
								return;
							}
							number++;
							idx++;
							var div = $("<div></div>");
							div.attr('id', 'div' + idx)
							console.log("id " + idx)
							var img = $("<img/>");
							img.attr("src", e.target.result);
							img.attr("data-action", "zoom")

							div.append(img);
							var img_delete = $("<img/>");
							img_delete.attr('id', '' + idx)
							img_delete.attr('src', "/images/delete.png");
							img_delete.click(function() {
								var albums = document.getElementsByClassName('album')[0];
								var divs = albums.getElementsByTagName('div');
								albums.removeChild(albums.querySelector('#div' + this.id))
								console.log("delete_id " + this.id)
								document.getElementById('chooseBtn').style.zIndex = ""
								number--;
							})
							div.append(img_delete);
							$(".album").append(div);
							$(".album").show();
							console.log(number)
							if(number >= 3) {
								document.getElementById('chooseBtn').style.zIndex = "-99999"
							} else {
								document.getElementById('chooseBtn').style.zIndex = ""
							}
						};
					}
				}
			}
		</script>
		<script type="text/javascript">
			var img = $(".img");
			var number = 0;
			var callBack = function(album) {
				console.log(album);
				album.forEach(function(val, idx) {
					number++;
					if(number > 3) {
						return
					}
					var div = $("<div></div>");
					div.attr('id', 'div' + idx)
					var img = $("<img/>");
					img.attr("src", val.data);
					img.attr("data-action", "zoom")

					div.append(img);
					var img_delete = $("<img/>");
					img_delete.attr('id', '' + idx)
					img_delete.attr('src', "/images/delete.png");
					img_delete.click(function() {
						var albums = document.getElementsByClassName('album')[0];
						var divs = albums.getElementsByTagName('div');
						albums.removeChild(albums.querySelector('#div' + this.id))
						document.getElementById('btn').style.zIndex = ""
						number--;
					})
					div.append(img_delete);
					$(".album").append(div);
					$(".album").show();
					console.log(number)
					if(number >= 3) {
						document.getElementById('btn').style.zIndex = "-99999"
					} else {
						document.getElementById('btn').style.zIndex = ""
					}
				});
			}

			var carera = new $.Pgater($("#btn"), callBack);
		</script>
	</body>

</html>