/*侧栏呼出的图标样式*/

body {
	font-family: "微软雅黑";
	color: #79797a;
	background-color: #ebebeb;
}
label {
	font-family: "微软雅黑";
	color: #79797a;
}

/*注册详细页头部*/
.register-detail-header{
	color:white;
	width:100%;
	height:10rem;
	background-color: #0078cd;
	position: fixed;
}

.register-content-font{
	font-size: 15px;
	margin-top:10px;
}

.positioncontrol {
	position: absolute;
	/*left: 4rem;
	top: 1rem;*/
	top:15%;
	text-align: center;
	width:100%;
	/*left:40%;*/
}

/*注册详情企业名称部分*/
.detail-company-name{
	position: absolute;
	left:2%;
	top:4rem;
	width:96%;
	height:7rem;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0.5rem 0 2rem #aaaaaa;
}

.detail-company-name-title{
	display: flex;
	flex-direction: row;
	position: relative;
	top:5px;
	left: 10px;
	vertical-align: bottom;
	/*line-height: 2rem;*/
}

/*图片*/
.detail-img{
	width:2rem;
	height:2rem;
}

.detail-title{
	margin-left:2.5rem;
	margin-top:9px;
	position: absolute;
	/*vertical-align: bottom;*/
}

/*具体信息*/
.detail-normal{
	left:3rem;
	top:10px;
	position:relative;
	display: flex;
	flex-direction: row;
}

.second-line{
	margin-top:10px;
}

.address-part-detail{
	/*position: fixed;*/
	margin-top:11.5rem;
	margin-left:2%;
	width:96%;
	height:7rem;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0.5rem 0 2rem #aaaaaa;
}

.other-part-detail{
	margin-top:0.5rem;
	margin-left:2%;
	width:96%;
	height:13rem;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0.5rem 0 2rem #aaaaaa;
}

.other-part-img{
	width:4rem;
}

.img-margin{
	margin-left:1rem;
}



/*.注册审核彩色边*/
.colorful{
	position:absolute;
	left:0;
	top:0;
	width:0.5rem;
	height:100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background: linear-gradient(to top,#36a2ef,#ff9a76);
}
/*详细条目表上边框+左边框*/
.item-table-border1{
	border-top:solid 1px #ff9a76;
	border-left:solid 1px #ff9a76;
}
/*详细条目表上边框*/
.item-table-border2{
	border-top:solid 1px #ff9a76;
}
/*详细条目表上边框+左边框+下边框*/
.item-table-border3{
	border-top:solid 1px #ff9a76;
	border-left:solid 1px #ff9a76;
	border-bottom:solid 1px #ff9a76;
}
/*详细条目表上边框+下边框*/
.item-table-border4{
	border-top:solid 1px #ff9a76;
	border-bottom:solid 1px #ff9a76;
}
/*详细条目表上边框+右边框*/
.item-table-border5{
	border-top:solid 1px #ff9a76;
	border-right:solid 1px #ff9a76;
}
/*详细条目表上边框+右边框+下边框*/
.item-table-border6{
	border-top:solid 1px #ff9a76;
	border-right:solid 1px #ff9a76;
	border-bottom:solid 1px #ff9a76;
}

.overLoading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	opacity: 0.5;
	z-index: 1000;
}

.layoutLoading {
	display: none;
	position: absolute;
	top: 20%;
	width: 100%;
	z-index: 1001;
}

.audit-bg {
	background: #ebebeb;
}


/*卡片文字行*/

.information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/*左边字体*/

.info-l {
	float: left;
}


/*右边字体*/

.info-r {
	float: right;
}

.a-little-left{
	margin-left:20px;
}


/*深色字体*/

.normal-info-col {
	color: #79797a;
}


/*蓝色字体*/

.imp-info-col {
	color: #0078cd;
}

.imp-col-ora{
	color:#df3c01;
}


/*圆点+虚线行*/

.ticket-style {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -10px;
}


/*左半圆*/

.circle-l {
	height: 20px;
	width: 20px;
	border-radius: 15px;
	background: #ebebeb;
	margin-left: -10px;
	z-index: 10;
}


/*右半圆*/

.circle-r {
	height: 20px;
	width: 20px;
	border-radius: 15px;
	background: #ebebeb;
	margin-right: -10px;
	z-index: 1000;
}


/*虚线*/

.dashLine {
	width: 94%;
	border: 1px dashed #ebebeb;
	margin-left:1%;
	margin-right: 1%;
}

.dashLine1 {
	width: 92%;
	border: 1px dashed #ebebeb;
	margin-left:4%;
}

.pointer {
	cursor: pointer;
}

.maincontent {
	/*padding-top: 5px;*/
}

.iconbg {
	position: fixed;
	/*top: 1rem;*/
	left: -0.5rem;
	width: 2rem;
	height: 2rem;
	background-color: #ebebeb;
	border-radius: 50%;
	z-index: 10;
}

.sidebaricon {
	position: absolute;
	top: 0.3rem;
	left: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("/images/filter.png");
	background-size: contain;
}


/*侧栏的样式*/

.sidetitle {
	color: #0078cd;
	width: 100%;
	float: left;
}


/*.sidebar-returnicon
{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 1rem;
	height: 1rem;
	background-image: url("/images/系统返回.png");
	background-size:contain;
}*/

.sidebarbg {
	position: absolute;
	bottom: 0rem;
	left: -0.5rem;
	width: 17rem;
	height: 12rem;
	background-image: url("/images/sidebarbg.png");
	background-size: cover;
}

.sidebg {
	background-color: #FFFFFF;
	box-shadow: 0.5rem 0 2rem #aaaaaa;
}

.wrapper {
	width: 94%;
	padding: 15px 0 0 15px;
}

.wrapper h3 {
	margin-top: 3rem;
	font-weight: 300;
	text-align: left;
}

.wrapper label {
	text-align: left;
}

.second-radio {
	position: relative;
	left: 1.5rem;
}

.datepicker {
	position: relative;
	/*height: 8rem;*/
}

.datepicker button {
	width: 3rem;
	height: 3rem;
}

.datepicker button:nth-child(1) {
	position: absolute;
	top: 0;
	left: 2rem;
}

.datepicker button:nth-child(2) {
	position: absolute;
	bottom: 0rem;
	left: 2rem;
}

.bigbutton {
	display: inline-block;
	width: 10rem;
	height: 30px;
	padding: 0px 60px;
	border-radius: 15px;
	font-size: 15px;
	color: white;
	vertical-align: middle;
	background: linear-gradient(to right, #36a2ef, #0078cd);
	line-height: 10px;
	/*font-weight: 25px;*/
}

/*通过/驳回按钮*/ 
.smallbtn-audit {
	display: inline-block;
	/*padding: px 20px;*/
	font-size: 15px;
	color: white;
	height:30px;
	vertical-align: middle;
	background: linear-gradient(to right, #36a2ef, #0078cd);
	line-height: 10px;
}

.orderfilter {}

.orderfilter img {
	position: relative;
	top: 0.2rem;
}

.orderfilter .mui-input-row {
	border-bottom: 0.1rem solid rgb(200, 200, 200);
}

.orderfilter input {
	position: relative;
	top: 0.5rem;
	left: -2rem;
}

/*分享*/
.share-btn{
	/*background-image: url(../images/share.png);*/
	width:1.5rem;
	height:1.5rem;
	margin-top:8px;
	/*margin-left:5px;*/
}

.share-title-id{
	margin-left:10px;
}

/*卡片条目的样式*/
.mui-collapse-content{
	/*border-radius: 15px;*/
}
.mui-collapse-content hr {
	margin: 0.2rem 0;
}

.content-item {
	position: relative;
}

.mui-card-content {
	padding: 0rem 1rem 0rem 1rem;
}


/*内容部分*/

.info-content {
	padding: 0px 15px;
}

.mui-row {
	display: inline-block;
}

.item-title {
	display: inline-block;
	/*width: 6rem;*/
}

.toplabel {
	position: absolute;
	top: 0rem;
	right: 0rem;
	width: 2rem;
	height: 2rem;
	/*background-image: url("/images/attachment.png");*/
	background-size:contain;
	z-index: 10;
}

.mui-collapse-content {
	text-align: center;
}

.mui-collapse-content ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 1.5rem;
	overflow: hidden;
}

.mui-collapse-content>ul:nth-child(even) {
	background-color: rgb(240, 240, 240);
}

.mui-navigate-right {
	background-color: #FFFFFF;
}

.item {
	text-align: left;
}

.item-row li {
	float: left;
	padding: 0.1rem 0;
	text-align: center;
}

.item-row li:nth-child(1) {
	width: 15%;
}

.item-row li:nth-child(3) {
	width: 25%;
}

.item-row li:nth-child(2),
.item-row li:nth-child(4) {
	width: 35%;
}

.item-row li:nth-child(4) {
	width: 25%;
}

.buttonbar {
	display: inline-block;
	margin-top:7px;
	justify-content: space-around;
	
}
.buttonbar button {
	/*	width: 4rem;*/
	/*background-color: #495A80;*/
	width: 5rem;
	height: 25px;
	/*line-height: 30px;*/
	border-radius: 1rem;
}

.buttonbar button:nth-child(2) {
	margin-left: 3rem;
}

.right-text {
	position: relative;
	/*left: -2rem;*/
}


/*详情的主页样式*/

/*.detailcontent {
	width: 90%;
	padding-top: 2rem;
	margin: 0 5%;
}*/

.photobar {
	width: 8rem;
	height: 10rem;
	margin: 0 auto;
	border: 0.1rem solid rgb(200, 200, 200);
	border-radius: 1rem;
}

.photobar img {
	width: 8rem;
	height: 10rem;
}

.detailcontent .item {
	line-height: 2rem;
}


/*搜索框*/

.search-bar {
	position: relative;
	top: -0.5rem;
	left: 17%;
	width: 80%;
}