/*侧栏呼出的图标样式*/

body,
label {
	font-family: "微软雅黑";
	color: #79797a;
}

.overLoading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	opacity: 0.5;
	z-index: 1000;
}

.layoutLoading {
	display: none;
	position: absolute;
	top: 20%;
	left: -10%;
	width: 20px;
	height: 20px;
	z-index: 1001;
	text-align: center;
}

.audit-bg {
	background: #ebebeb;
}


/*卡片文字行*/

.information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/*左边字体*/

.info-l {
	float: left;
}


/*右边字体*/

.info-r {
	float: right;
}


/*深色字体*/

.normal-info-col {
	color: #79797a;
}


/*蓝色字体*/

.imp-info-col {
	color: #0078cd;
}


/*圆点+虚线行*/

.ticket-style {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -10px;
}


/*左半圆*/

.circle-l {
	height: 20px;
	width: 20px;
	border-radius: 15px;
	background: #ebebeb;
	margin-left: -10px;
	z-index: 10;
}


/*右半圆*/

.circle-r {
	height: 20px;
	width: 20px;
	border-radius: 15px;
	background: #ebebeb;
	margin-right: -10px;
	z-index: 1000;
}


/*虚线*/

.dashLine {
	width: 95%;
	border: 0.01px dashed #ebebeb;
	padding: 0 1px;
}

.pointer {
	cursor: pointer;
}

.maincontent {
	/*padding-top: 5px;*/
}

.iconbg {
	position: fixed;
	top: 1rem;
	left: 1rem;
	width: 3rem;
	height: 3rem;
	background-color: rgba(100, 100, 100, 0.5);
	border-radius: 50%;
	z-index: 10;
}

.sidebaricon {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 2rem;
	height: 2rem;
	background-image: url("/images/Category (1).png");
	background-size: contain;
}


/*侧栏的样式*/

.sidetitle {
	color: #0078cd;
	width: 100%;
	float: left;
}


/*.sidebar-returnicon
{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 1rem;
	height: 1rem;
	background-image: url("/images/系统返回.png");
	background-size:contain;
}*/

.sidebarbg {
	position: absolute;
	bottom: 0rem;
	left: -0.5rem;
	width: 17rem;
	height: 12rem;
	background-image: url("/images/sidebarbg.png");
	background-size: cover;
}

.sidebg {
	background-color: #FFFFFF;
	box-shadow: 0.5rem 0 2rem #aaaaaa;
}

.wrapper {
	width: 94%;
	padding: 15px 0 0 15px;
}

.wrapper h3 {
	margin-top: 3rem;
	font-weight: 300;
	text-align: left;
}

.wrapper label {
	text-align: left;
}

.second-radio {
	position: relative;
	left: 1.5rem;
}

.datepicker {
	position: relative;
	/*height: 8rem;*/
}

.datepicker button {
	width: 3rem;
	height: 3rem;
}

.datepicker button:nth-child(1) {
	position: absolute;
	top: 0;
	left: 2rem;
}

.datepicker button:nth-child(2) {
	position: absolute;
	bottom: 0rem;
	left: 2rem;
}

.bigbutton {
	display: inline-block;
	width: 10rem;
	height: 30px;
	padding: 0px 60px;
	border-radius: 15px;
	font-size: 15px;
	color: white;
	vertical-align: middle;
	background: linear-gradient(to right, #36a2ef, #0078cd);
	line-height: 10px;
	/*font-weight: 25px;*/
}

/*通过/驳回按钮*/ 
.smallbtn-audit {
	display: inline-block;
	padding: 5px 20px;
	font-size: 15px;
	color: white;
	height:30px;
	vertical-align: middle;
	background: linear-gradient(to right, #36a2ef, #0078cd);
	line-height: 10px;
}

.orderfilter {}

.orderfilter img {
	position: relative;
	top: 0.2rem;
}

.orderfilter .mui-input-row {
	border-bottom: 0.1rem solid rgb(200, 200, 200);
}

.orderfilter input {
	position: relative;
	top: 0.5rem;
	left: -2rem;
}


/*卡片条目的样式*/

.mui-collapse-content hr {
	margin: 0.2rem 0;
}

.content-item {
	position: relative;
}

.mui-card-content {
	padding: 0.5rem 0rem 0rem 1rem;
}


/*内容部分*/

.info-content {
	padding: 0px 15px;
}

.mui-row {
	display: inline-block;
}

.item-title {
	display: inline-block;
	/*width: 6rem;*/
}

.toplabel {
	position: absolute;
	top: 0rem;
	right: 0rem;
	width: 2rem;
	height: 2rem;
	background-image: url("/images/attachment.png");
	background-size: contain;
	z-index: 10;
}

.mui-collapse-content {
	text-align: center;
}

.mui-collapse-content ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 1.5rem;
	overflow: hidden;
}

.mui-collapse-content>ul:nth-child(even) {
	background-color: rgb(240, 240, 240);
}

.mui-navigate-right {
	background-color: #FFFFFF;
}

.item {
	text-align: left;
}

.item-row li {
	float: left;
	padding: 0.1rem 0;
	text-align: center;
}

.item-row li:nth-child(1) {
	width: 15%;
}

.item-row li:nth-child(3) {
	width: 25%;
}

.item-row li:nth-child(2),
.item-row li:nth-child(4) {
	width: 35%;
}

.item-row li:nth-child(4) {
	width: 25%;
}

.buttonbar {
	display: inline-block;
}

.buttonbar button {
	/*	width: 4rem;*/
	/*background-color: #495A80;*/
	width: 70px;
	height: 25px;
	/*line-height: 30px;*/
	border-radius: 1rem;
}

.buttonbar button:nth-child(2) {
	margin-left: 2rem;
}

.right-text {
	position: relative;
	left: -2rem;
}


/*详情的主页样式*/

.detailcontent {
	width: 90%;
	padding-top: 2rem;
	margin: 0 5%;
}

.photobar {
	width: 8rem;
	height: 10rem;
	margin: 0 auto;
	border: 0.1rem solid rgb(200, 200, 200);
	border-radius: 1rem;
}

.photobar img {
	width: 8rem;
	height: 10rem;
}

.detailcontent .item {
	line-height: 2rem;
}

.positioncontrol {
	position: absolute;
	left: 4rem;
	top: 1rem;
}


/*搜索框*/

.search-bar {
	position: relative;
	top: -0.5rem;
	left: 17%;
	width: 80%;
}