.feedback {
	display: flex;
	flex-direction: row;
}

.feedback input {
	border: none !important;
}

.feedback .row {
	width: 100%;
}

.feedback .hidden {
	display: none;
}

.feedback .image-list {
	width: 100%;
	background-size: cover;
	padding: 10px 10px;
	/*overflow: hidden;*/
}

.feedback .image-item {
	width: 65px;
	height: 65px;
	/*background-image: url('/images/camera.png');*/
	background-size: 100% 100%;
	display: inline-block;
	/*position: absolute;*/
	border-radius: 5px;
	margin: 10px 0 0 15%
}

.feedback .image-item img {
	width: 65px;
	height: 65px;
	border-radius: 5px;
	/*margin-right: 10px;
	margin-bottom: 10px;*/
}

.feedback .image-item input[type="file"] {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 0;
}

.feedback .image-item.space {
	border: none;
}

.feedback .image-item .image-close {
	position: absolute;
	display: inline-block;
	right: -6px;
	top: -6px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 12px;
	background-color: #FF5053;
	color: #f3f3f3;
	border: solid 1px #FF5053;
	font-size: 9px;
	font-weight: 200;
	z-index: 1;
}

.feedback .image-item.space .image-close {
	display: none;
}

.del {
	position: absolute;
	top: 1px;
	right: 1px;
	display: block;
	line-height: 1;
	cursor: pointer;
	color: #fff;
}

.del:hover {
	color: #ff3333;
}

.table-view {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	background-color: #f5f5f5;
}

.table-view-cell {
	position: relative;
	overflow: hidden;
	padding: 0px 15px;
	-webkit-touch-callout: none;
	margin-bottom: 1px;
}

.table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.table-view-cell>a:not(.btn) {
	position: relative;
	display: block;
	overflow: hidden;
	margin: -0px -15px;
	padding: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: inherit;
	background-color: #75b9f4;
	height: 40px;
	line-height: 40px;
}

.navigate-right:after {
	font-family: Muiicons;
	font-size: inherit;
	line-height: 1;
	position: absolute;
	top: 50%;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	color: #666;
	-webkit-font-smoothing: antialiased;
}

.table-view-cell.collapse .collapse-content {
	position: relative;
	display: none;
	overflow: hidden;
	margin: 0px -15px 0px;
	padding: 0px 0px !important;
	-webkit-transition: height .35s ease;
	-o-transition: height .35s ease;
	transition: height .35s ease;
	background-color: transparent;
}

.image-item {
	position: relative;
}

.image-item .info {
	position: absolute;
	top: 0px;
	left: 4px;
	color: #ff9900;
	font-size: 12px;
}