body
{
	background-color: #fff;
	background-size: 100%;
	font-family: "microsoft yahei";
}

.contain
{
	position: relative;
	margin-top:10%;
	text-align: center;
	height: 100%;
}

.register
{
	position: relative;
	top:10%;
	left: 7%;
	width: 86%;
	text-align: center;
}

.register>button,button.submit
{
	width: 70%;
	height: 3rem;
	line-height: 1rem;
	background-color: #495a80;
	color:#fff;
	margin: 15% auto 2% auto;
	font-size: 1.5rem;
	font-weight: 300;
	border-radius: 3rem;
}
.mui-input-row
{
	border-bottom: solid .1rem rgb(200,200,200);
}
.mui-input-row img{
	position: relative;
	top:0.3rem;
	left: -1.5rem;
	width:25px;
}
.status-row span{
	position: absolute;
	top: 1.2rem;
	left: 5.5rem;
	text-align: left;
}
.mui-input-row input{
	position: relative;
	top:0.6rem;
	left: -2.5rem;
	width:25px;
}
.mui-input-row .mui-btn{
	width: 6rem;
}
.red-text{
	color: red;
}
.vertify{
	position: absolute;
	top:0.5rem;
	right: 0rem;
	background-color: #495a80;
	color:#fff;
}
.mui-btn-block{
	font-size: 0.1rem;
}
.photo{
	position: relative;
	top: 2rem;
	left: 5rem;
	height: 10rem;
	width: 8rem;
	border: 0.1rem solid rgb(200,200,200);
	border-radius: 1rem;
}
