.mui-scroll-wrapper {
	padding: 0;
}
.item{
	position: relative;
	line-height: 2rem;
}

.mark-benefit{
	position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 70px;
    height: 70px;
    background: url(../images/low_price.png)no-repeat;
    background-size: 70px;
    opacity: 0.8;
}
.mark-fast{
	position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 70px;
    height: 70px;
    background: url(../images/fast.png)no-repeat;
    background-size: 70px;
    opacity: 0.8;
}

.usual{
	text-align:left;
}
.usual label{
	color: #0078cd;
	line-height: 2rem;
}

#port-info{
	background:#0078cd;
	width: 100%; height:150px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height:60px;   
	position: absolute;
}
#blue-text{
	color: #0078cd;
	margin-right: 5px;
}
#card{
	margin:13px 10px;
}
#card:first-child {
	position: relative;
	margin-top: 60px;
}
#renderQuote,#share{
	float: right;
	border: none;
	width: 22px;
	height: 22px;
}
#renderQuote{
	background: url(../images/quote.png)no-repeat left top;	
	background-size: 22px;
}
#share{
	background: url(../images/share.png)no-repeat left top;	
	background-size: 22px;
}

/************************侧边栏**********************/
#sidebar-card{
	margin-bottom: 20px;
}
.mui-input-clear{
	border: none;
}
.mui-input-row{border-bottom:0px;}
.searchable-select {
    width: 100%;
}

