body {
	background-color: #fff;
	background-size: 100%;
	font-family: "微软雅黑";
	text-align: center;
	-webkit-overflow-scrolling: touch;
}

.logo {
	margin: 2.8rem auto;
}

.logo img {
	border-radius: 50%;
	width: 6.5rem;
	height: 6.5rem;
}
.contain {
	position: relative;
	margin-top: 30%;
	text-align: center;
	height: 100%;
}

.logobar img {
	position: absolute;
	left: 3%;
	width: 94%;
}

.login {
	margin: 0 auto;
	/*width: 70%;*/
	text-align: center;
}

.login>button {
	width: 120%;
	height: 2.25rem;
	line-height: .1rem;
	color: #fff;
	margin: 10% -10%;
	font-size: 1.2rem;
	font-family: "微软雅黑";
	font-weight: 300;
	border-radius: 3rem;
	box-shadow: .1rem .15rem .1rem #87CEFA;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#4ab4ff), to(#0078cd));
	background: -webkit-linear-gradient(left, #4ab4ff, #0078cd);
	background: -moz-linear-gradient(left, #4ab4ff, #0078cd);
	background: -o-linear-gradient(left, #4ab4ff, #0078cd);
	background: linear-gradient(left, #4ab4ff, #0078cd);
}

.login>a {
	font-size: 14px;
	margin-top: -.5rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	color: #0078cd;
	text-decoration: none;
}

.mui-input-row {
	border-bottom: solid .1rem #ebebeb;
	/*width: 120%;*/
	margin: auto -10%;
	margin-top: 0.5rem;
}

.mui-input-row img {
	position: relative;
	top: 1.2rem;
	/*left: -2.0rem;*/
	width: 30px;
}

.mui-input-row input {
	position: relative;
	top: 1rem;
	left: -4.3rem;
	font-family: "微软雅黑";
	color: #79797a;
}

.mui-input-row span {
	top: 1.7rem !important;
}

.mui-input-row .mui-btn {
	width: 6.54rem;
	height: 1.625rem;
	border-radius: 15px;
	margin-top: .8rem;
	padding-top: .15rem;
	background-color: white;
	border-color: #df3c01;
	color: #df3c01;
	font-family: "微软雅黑";
	font-weight: 600;
}
.vertify {
	position: absolute;
	top: 0.5rem;
	right: 0rem;
	background-color: #495a80;
	color: #fff;
}