#card{
	border-radius: 5px;
}
#share{
	width: 22px;
    background: url(../images/share.png)no-repeat left top;
    background-size: 22px;
    height: 22px;
    border: none;
	float: right;}

#circle-left{
	border-radius: 50%;
    background-color: #ebebeb;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -9px;
}

#circle-right{
	border-radius: 50%;
    background-color: #ebebeb;
    width: 18px;
    height: 18px;
    position: absolute;
    right: -9px;
}
#filter-select,.mui-input-clear{
	float: left;
	color:  #79797a;
	font-size: 16px;
	width: 50%;
}
#filter-select{
	height: 20px;
}
.mui-input-clear{
	margin-top: 5px;
}
#submit{
	width: 80%;
	margin: 10%;
}

.mui-collapse-content{
    padding:10px 5px;
}
#node{
    width: 26%; 
    float: left;
}
.time{
    font-size: 10px;
    line-height: 12px;
    color: #a8a8a8;
    margin-top:5px;
}
.circle{
    background: linear-gradient(to right,#ff9a76, #df3c01);
    border-radius: 15px;
    width: 100%; 
    color: #fff;
    padding: 5px;
    box-shadow: 0 3px 5px #ff9a76;
}
.circle-unfinished{
    background: #ebebeb;
    border-radius: 15px;
    width: 100%; 
    padding: 5px;
}
#node-line,#node-line-short,#node-line-v{
    border-bottom: 2px solid #ebebeb;
    float: left;
    width: 9%;
    margin-top: 4%;
}
#node-line-short{
    width: 2%;
}
#node-line-v{
    width:2px;
    height: 60px;
    border-right: 2px solid #ebebeb;
    z-index: 2;
}

#node1{
    width: 17.2%; 
    float: left;
}
#node1:first-child{
    margin-left: 2%;
}